<div class="row">
 	
	<div class="span2">
		<div >						
				<div>
					<span class="boldmarron" style="font-size:24px;font-family: 'myriad', sans-serif;">&nbsp;&nbsp;API Features</span>
				</div>
				<div style="padding-left:10px; padding-top: 10px;">
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSOverview();return false;">Overview</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSGettingStarted();return false;">Getting Started</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('view');return false;">View</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('projection');return false;">Projection</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('outline');return false;">Outline</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('text-label');return false;">Text Label</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('legend');return false;">Legend</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('monitor');return false;">Monitor</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('grid');return false;">Grid</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('axis-metrics');return false;">Axis Metrics</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('device-metrics');return false;">Device Metrics</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('pie');return false;">Pie</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('donut2d');return false;">Donut 2D</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('donut3d');return false;">Donut 3D</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('stock');return false;">Stock</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('function-area');return false;">Area</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('function-curve');return false;">Line</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('function-scatter');return false;">Scatter</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('zoom-box');return false;">Zoom Box</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('zoom-lens');return false;">Zomm Lens</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('zoom-wheel');return false;">Zoom Wheel</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('translate');return false;">Translate</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('gauge');return false;">Gauge</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('realtime');return false;">Real Time</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('widget');return false;">Widget</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('bubble');return false;">Bubble</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('plot');return false;">Plot</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('symbol-bar');return false;">Symbol Bar</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('symbol-bar-stacked');return false;">Symbol Stacked Bar</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('symbol-other');return false;">Symbol Point & Curve</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('map');return false;">Map</a></div>
					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('transform');return false;">Transform</a></div>
										
										
<!-- 					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('stripe');return false;">Stripe</a></div> -->
<!-- 					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('radar');return false;">Radar</a></div> -->
<!-- 					<div><i class="icon-chevron-right"></i>&nbsp;<a href="#" onclick="showJSFeature('ray');return false;">Ray</a></div> -->

				</div>
		</div>
	</div>
	<div class="span10"  id="headerJavascriptHolder"></div>
	
</div>
