<table style="width : 100%;padding-top: 20px;font-size: 11px;" class="table table-hover table-condensed" onmouseout="removeJSPopup();">
	    	<thead id="catalogs-page-header">
	    		<tr>
					<th></th><th></th><th></th><th></th><th></th><th></th>
				</tr>
				<tr>
					<th width="30%"><small><span class="boldblue1">View</span></small></th>
					<th width="70%"><small><span class="boldblue1">Description</span></small></th>
				</tr>
			</thead>				   
	    	<tbody id="jscatalog-tbody">
		    	
			</tbody>				    
</table>