<div class="btn-group pull-right">
            <button id="licenseCreatorButton" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-hand-right icon-white"></i>&nbsp;Chart Type&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="showSample('commons');return false;">Commons</a></li>
              <li><a href="#" onclick="showSample('pie');return false;">Pie</a></li>
              <li><a href="#" onclick="showSample('donut2d');return false;">Donut2D</a></li>
              <li><a href="#" onclick="showSample('donut3d');return false;">Donut3D</a></li>
              <li><a href="#" onclick="showSample('area');return false;">Area</a></li>
              <li><a href="#" onclick="showSample('curve');return false;">Curve</a></li>
              <li><a href="#" onclick="showSample('scatter');return false;">Scatter</a></li>
              <li><a href="#" onclick="showSample('bar');return false;">Bar</a></li>
              <li><a href="#" onclick="showSample('stacked-bar');return false;">Stacked Bar</a></li>
              <li><a href="#" onclick="showSample('ray');return false;">Ray</a></li>
              <li><a href="#" onclick="showSample('plot');return false;">Plot</a></li>
              <li><a href="#" onclick="showSample('radar');return false;">Radar</a></li>
              <li><a href="#" onclick="showSample('bubble');return false;">Bubble</a></li>
            </ul>
</div>
<div style="padding-top: 40px;" id="sampleGalleryHolder">

</div>