<div  class="row">
	<div class="span10">
		<div style="padding-top: 20px;" onmouseover="removeJSPopup();">
			<span class="boldmarron" style="font-size: 24px; font-family: 'myriad', sans-serif;" id="viewTitle"></span>
			<div style="padding-top: 20px;" id="demoView"></div>
		</div>
	</div>
</div>

<div id="errorHolder"></div>
<div  class="row">
	<div class="span10">	
	<div style="padding-top: 60px;">
		<span  class="boldmarron" style="font-size: 24px; font-family: 'myriad', sans-serif;">/src</span>
		<div style="padding-top: 20px;">
			<pre class="prettyprint linenums">
				<code  style="margin-top: 20px;" id="viewSource" class="language-js"></code>
			</pre>
		</div>
	</div>
	</div>
</div>